<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
    <link rel="stylesheet" href="/static/cupcakes.css">
</head>

<body>
    <h1>I like cupcakes</h1>

    <ul id="cupcakes-list">
    </ul>

    <h2>Add a new cupcake!</h2>

    <form id="new-cupcake-form" action="/api/cupcakes" method="POST">
        <div>
            <label for=" flavor">Flavor:</label>
            <input type="text" id="flavor"><br><br>
        </div>
        <div>
            <label for="size">Size:</label>
            <input type="text" id="size"><br><br>
        </div>
        <div>
            <label for="rating">Rating:</label>
            <input type="text" id="rating"><br><br>
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="url" id="image"><br><br>
        </div>

        <button type="submit">Add New</button>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/cupcakes.js"></script>
</body>

</html>