<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>

<body>
    <h1>I like cupcakes</h1>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <form>
        <label for="flavor">Flavor:</label>
        <input type="text" id="flavor"><br>
        <label for="size">Size:</label>
        <input type="text" id="size"><br>
        <label for="rating">Rating:</label>
        <input type="text" id="rating"><br>
        <label for="image">Image:</label>
        <input type="url" id="image"><br>
        <button type="submit"> Add New</button>
    </form>
</body>

</html>